<div class="pai">
<div class="consulta">
  <div class="container">
    <div class="dropdown-container">
      <select id="meses" name="meses" [(ngModel)]="mesSelecionado">
        <option *ngFor="let item of mes" [value]="item">{{ item }}</option>
      </select>
    
      <div *ngIf="role === 'professor' || role === 'coordenador'">
        <label for="turmas">Filtrar por Turma:</label>
        <select id="turmas" name="turmas" [(ngModel)]="turmaSelecionada">
          <option value="">Todas as Turmas</option>
          <option *ngFor="let turma of turmas" [value]="turma">{{ turma }}</option>
        </select>
      </div>
    
      <button (click)="pesquisar()">Pesquisar</button>
      <button (click)="baixar()">Baixar PDF</button>
    </div>
  </div>
</div>

<div class="conteudo">
  <h1>Calendário</h1>
  <div class="calendar">
    <div *ngFor="let item of data | keyvalue" class="day">
      <div *ngFor="let aula of item.value" class="event">
        {{ item.key }} - {{ aula.materia }} - {{ aula.hora_inicio }} às {{ aula.hora_termino }} - Sala {{ aula.sala }} - Unidade {{ aula.unidade }}
      </div>
    </div>
  </div>
</div>
</div>