
<div class="pai">
    <div class="quadro_login">
        <div><p class="nomelogin">Cadastro Turma</p></div>
        <form [formGroup]="formulario" (ngSubmit)="onSubmit()">

            <label for="dataInicio" class="user_lable">Data Início</label><br>
            <input id="dataInicio" type="date" formControlName="dataInicio" class="user_input"/><br>
          
            <label for="dataTermino" class="user_lable">Data Término</label><br>
            <input id="dataTermino" type="date" formControlName="dataTermino" class="user_input"/><br>
          
            <label for="idCurso" class="user_lable">ID do Curso</label><br>
            <input id="idCurso" type="text" formControlName="idCurso" class="user_input"/><br>
          
            <input type="hidden" formControlName="status" value="ativo"/>
          
            <button class="botao" type="submit" [disabled]="!formulario.valid">Cadastrar</button>
          </form>
    </div>  
</div>